body{
    padding: 0;
    margin: 0;
    background-color: #00b5f7;
    background-size: 53px 53px;
    background-image: radial-gradient(
        transparent 28px,
        #ffffff 28px,
        #ffffff 32px,
        transparent 32px
    );
}
.UNO{
    width: 30%;
    background: rgb(55, 241, 210);
    border-radius: 20px; 
    margin:4% auto ;
    border: 2px solid rgb(255, 1, 1);
}
.l_1{
    color: brown;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
.table, th,tr{
    background: rgb(55, 241, 210);
    border-radius: 5px;
    border: 2px solid rgb(255, 1, 1);
    padding: 25px;
    font-size: 60px;
}
footer{
    float: left;
    width: 98%;
    height: 80px;
    background: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}